# 构建 VitePress 站点并将其部署到 GitHub Pages 工作流程
# 工作流名字（Actions 页看到的）
name: Deploy VitePress site to Pages

# 触发条件（push、pull_request、定时、手动按钮等）
on:
  # 在针对 `main` 分支的推送上运行。
  push:
    branches: [main]

  # 允许你从 Actions 选项卡手动运行此工作流程
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限，以允许部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许同时进行一次部署，跳过正在运行和最新队列之间的运行队列
# 但是，不要取消正在进行的运行，因为我们希望允许这些生产部署完成
concurrency:
  group: pages
  cancel-in-progress: true
# 任务集合；每个 job 在一个runner上跑
jobs:
  # 构建工作
  build:
    runs-on: ubuntu-latest
    # uses: 调用别人写好的 Action（类似“插件”）
    # run: 直接执行 shell 命令
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.21.1
          # cache: pnpm
      - name: Enable Corepack (pnpm)
        run: corepack enable
      - name: Setup pnpm cache
        uses: actions/setup-node@v6
        with:
            cache: pnpm
      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm docs:build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist

  # 部署工作
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Deploy GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4